{% extends 'index_master.html' %}
{% load static %}
{% block content %}

    <!-- page content -->
<div class="container body">
        <div class="right_col" role="main">
                <div class="text-center">
                        <img src="{% static 'image/logo.png' %}" class="img-fluid">
                </div>
        </div>
</div>
        <!-- /page content -->

{% endblock %}