{% extends '../index_master.html' %}

{% block content %}

<div class="right_col" role="main">
<h1>Legajo</h1>
  <table class="table table-hover border-dark">
  <thead>
    <tr>
      <th scope="col">N° Expediente</th>
      <th scope="col">Cuil Empresa</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
    {% for i in legajo %}
  <tbody>
    <tr>
      <th scope="row">{{i.file_number}}</th>
      <td>{{i.cuil_company}}</td>
      <td>{{i.addres_company}}</td>
    </tr>
  </tbody>
    {% endfor %}
</table>

</div>

{% endblock%}