{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
<h1>Liquidacion</h1>
  <table class="table table-hover border-dark">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre de empresa</th>
      <th scope="col">Liquidación</th>
    </tr>
  </thead>
    {% for i in liquidacion %}
  <tbody>
    <tr>
      <th scope="row">{{i.date}}</th>
      <td>{{i.name_company}}</td>1
      <td>{{i.liqui}}</td>
    </tr>
  </tbody>
    {% endfor %}

</table>
</div>
{% endblock %}