{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
<h1>Producción</h1>
    <table class="table table-hover border-dark">
  <thead>
    <tr>
      <th scope="col">Nombre de empresa</th>
      <th scope="col">Dirección</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
    {% for j in produccion %}
  <tbody>
    <tr>
      <th scope="row">{{j.name_company}}</th>
      <td>{{j.address}}</td>
      <td>{{j.tel}}</td>
      <td>{{j.email}}</td>
    </tr>
  </tbody>
    {% endfor %}
</table>
</div>
{% endblock%}